@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap");
body {
  color: #333;
}

.checkout-nav {
  position: fixed;
  width: 100%;
  top: 80px;
  display: flex;
  flex-direction: row;
  padding: 15px 8%;
  z-index: 4;
  color: #ffffff;
  background-color: #242866;
}
.checkout-nav span {
  color: #FFF5EE;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.00938rem;
  padding: 5px 5px 0;
  margin: 3px 3px 0;
  transition: 0.3s;
}
.checkout-nav a {
  color: #FFF5EE;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.00938rem;
  padding: 5px 5px 0;
  margin: 3px 3px 0;
  transition: 0.3s;
}
.checkout-nav a i {
  border: 2px solid #F2F2F2;
  padding: 2px 5px;
  border-radius: 3px;
  transition: 0.3s;
}
.checkout-nav a:hover i {
  border: 2px solid #F25829;
}
.checkout-nav a:hover {
  color: #F25829;
}

/** product section styling **/
.product {
  position: relative;
  top: 150px;
  padding: 30px 8%;
  width: 100%;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.product .product-info, .product .product-delivery {
  width: 32%;
  background-color: #F2F2F2;
  padding: 1.5%;
  border-radius: 1rem;
}
.product .product-display {
  width: 32%;
  background-color: #F2F2F2;
  border-radius: 1rem;
}
.product .product-display .product-img {
  width: 100%;
  margin: 30px 0;
}
.product .product-display .product-img img {
  width: 100%;
}
.product .product-display .product-slide {
  width: 100%;
  margin: 20px 0;
  padding: 0 1.5%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.product .product-display .product-slide .fa {
  font-size: 30px;
}
.product .product-display .product-slide .slide-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.product .product-display .product-slide .slide-img img {
  width: 30%;
}
.product .product-info h3, .product .product-delivery h3 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15px;
  margin-bottom: 15px;
}
.product .product-info h3 span, .product .product-delivery h3 span {
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.25px;
}
.product .product-info p, .product .product-delivery p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15px;
  margin-bottom: 5px;
}
.product .product-info p .fa-star, .product .product-delivery p .fa-star {
  color: #F9A603;
}
.product .product-info p .fa-star-o, .product .product-delivery p .fa-star-o {
  color: #D2D2D2;
}
.product .product-info p .add, .product .product-info p .num, .product .product-info p .sub, .product .product-delivery p .add, .product .product-delivery p .num, .product .product-delivery p .sub {
  padding: 0.5% 2%;
  border: 2px solid #333;
  margin: 0 2px;
  cursor: pointer;
}
.product .product-info p .add:hover, .product .product-info p .num:hover, .product .product-info p .sub:hover, .product .product-delivery p .add:hover, .product .product-delivery p .num:hover, .product .product-delivery p .sub:hover {
  color: #fff;
  border: 2px solid #F25829;
  background-color: #F25829;
}
.product .product-info select, .product .product-delivery select {
  background-color: transparent;
  padding: 2px;
  border: 2px solid #D2D2D2;
  border-radius: 5px;
  outline: none;
  margin-bottom: 10px;
}
.product .product-info .details, .product .product-delivery .details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .product-info .gps, .product .product-delivery .gps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.product .product-info .gps select, .product .product-delivery .gps select {
  width: 100%;
  padding: 1rem;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 1rem;
}
.product .product-info .product-btn, .product .product-delivery .product-btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product .product-info .product-btn a, .product .product-delivery .product-btn a {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}
.product .product-info .product-btn .cart, .product .product-delivery .product-btn .cart {
  padding: 1rem;
  color: #fff;
  background-color: #F25829;
  border: 2px solid #F25829;
  width: 49%;
  border-radius: 10px;
  text-align: center;
}
.product .product-info .product-btn .cart:hover, .product .product-delivery .product-btn .cart:hover {
  color: #333;
  background-color: transparent;
  border: 2px solid #242866;
  transition: 1s;
}
.product .product-info .product-btn .watchlist, .product .product-delivery .product-btn .watchlist {
  padding: 1rem;
  color: #333;
  background-color: transparent;
  border: 2px solid #242866;
  width: 49%;
  border-radius: 10px;
  text-align: center;
}
.product .product-info .product-btn .watchlist:hover, .product .product-delivery .product-btn .watchlist:hover {
  color: #fff;
  background-color: #F25829;
  border: 2px solid #F25829;
  transition: 1s;
}

/**Details styling**/
.full-details {
  position: relative;
  top: 50px;
  padding: 30px 8%;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.full-details .pro-details {
  width: 63%;
  padding: 1.5%;
  background-color: #F2F2F2;
  border-radius: 1rem;
}
.full-details .pro-details .pro-details-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.full-details .pro-details .pro-details-card h3 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15px;
}
.full-details .pro-details .pro-details-card i {
  font-size: 30px;
}
.full-details .pro-details hr {
  margin-bottom: 10px;
}
.full-details .pro-details h4 {
  font-family: Rubik;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.15px;
  margin-bottom: 5px;
}
.full-details .pro-details p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15px;
  margin-bottom: 12px;
}
.full-details .pro-info {
  width: 35%;
  padding: 1.5%;
  background-color: #F2F2F2;
  border-radius: 1rem;
  max-height: 300px;
}
.full-details .pro-info h3 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15px;
  margin-bottom: 10px;
}
.full-details .pro-info .pro-info-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.full-details .pro-info .pro-info-container button {
  width: 25%;
  height: 40px;
  padding: 2px 0.5rem;
  color: #fff;
  background-color: #F25829;
  border: 2px solid #F25829;
  border-radius: 5px;
  transition: 1s;
}
.full-details .pro-info .pro-info-container button:hover {
  background-color: transparent;
  border: 2px solid #F25829;
  color: #F25829;
  cursor: pointer;
}
.full-details .pro-info .pro-info-box {
  display: flex;
  justify-content: space-between;
}
.full-details .pro-info .pro-info-box .fa-circle-o-notch {
  font-size: 50px;
  color: green;
  margin-right: 20px;
}
.full-details .pro-info .pro-info-box h4 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15px;
  margin-bottom: 5px;
}
.full-details .pro-info .pro-info-box h6 {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15px;
  color: #242866;
}
.full-details .pro-info .pro-info-box p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.4px;
  color: #242866;
}
.full-details .btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}
.full-details .btn button {
  width: 32%;
  height: 40px;
  padding: 2px 0.5rem;
  color: #fff;
  background-color: #242866;
  border: 2px solid #242866;
  border-radius: 5px;
  transition: 1s;
}
.full-details .btn button:hover {
  background-color: transparent;
  border: 2px solid #242866;
  color: #242866;
  cursor: pointer;
}
.full-details p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}
.full-details p .fa {
  font-size: 10px;
  margin-right: 5px;
  color: green;
}
.full-details p #orange {
  color: #F25829;
}

/**Review Section Styling**/
.review-sec {
  position: relative;
  padding: 30px 8%;
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
.review-sec .review-container {
  width: 100%;
  background-color: #F2F2F2;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.review-sec .customers-review {
  width: 30%;
}
.review-sec .customers-review .customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.review-sec .customers-review .customer h3 {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.15px;
}
.review-sec .customers-review .customer .fa {
  font-size: 30px;
}
.review-sec .customers-review hr {
  margin-bottom: 10px;
}
.review-sec .customers-review p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15px;
}
.review-sec .review {
  width: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.review-sec .review .review-box {
  width: 49%;
  border: 2px solid #242866;
  border-radius: 10px;
  padding: 1%;
  min-height: 100px;
}
.review-sec .review .review-box .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.review-sec .review .review-box .content .fa-star {
  color: #F9A603;
}
.review-sec .review .review-box .content .fa-star-o {
  color: #D2D2D2;
}
.review-sec .review p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.15px;
}/*# sourceMappingURL=product.css.map */